<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>class0</key>
  <array>
    <string>aisigndeva</string>
    <string>eshortsigndeva</string>
    <string>esigndeva</string>
    <string>oesigndeva</string>
    <string>aisign_ra_virama.alt1</string>
    <string>aisign_ra_virama_anusvara</string>
    <string>aisigndeva_anusvaradeva</string>
    <string>esign_ra_virama.alt1</string>
    <string>esign_ra_virama_anusvara</string>
    <string>esigndeva_anusvaradeva</string>
    <string>radeva_viramadeva</string>
    <string>radeva_viramadeva_anusvaradeva</string>
  </array>
  <key>class1</key>
  <array>
    <string>chadeva</string>
    <string>chadeva_viramadeva_vadeva</string>
    <string>dadeva</string>
    <string>ddadeva</string>
    <string>dddhadeva</string>
    <string>ddhadeva</string>
    <string>fadeva</string>
    <string>phadeva</string>
    <string>hadeva</string>
    <string>kadeva</string>
    <string>khadeva</string>
    <string>lladeva</string>
    <string>llladeva</string>
    <string>ngadeva</string>
    <string>nnadeva</string>
    <string>qadeva</string>
    <string>rhadeva</string>
    <string>rrvocalicdeva</string>
    <string>rvocalicdeva</string>
    <string>ttadeva</string>
    <string>tthadeva</string>
    <string>uedeva</string>
    <string>uuedeva</string>
    <string>yadeva</string>
    <string>yaheavydeva</string>
    <string>dadeva_viramadeva_badeva</string>
    <string>dadeva_viramadeva_bhadeva</string>
    <string>dadeva_viramadeva_dhadeva</string>
    <string>dadeva_viramadeva_gadeva</string>
    <string>dadeva_viramadeva_ghadeva</string>
    <string>dadeva_viramadeva_nadeva</string>
    <string>dadeva_viramadeva_vadeva</string>
    <string>dadeva_viramadeva_dadeva</string>
    <string>ddadeva_viramadeva_ddadeva</string>
    <string>ddadeva_viramadeva_ddhadeva</string>
    <string>ddhadeva_viramadeva_ddhadeva</string>
    <string>hadeva_viramadeva_ladeva</string>
    <string>hadeva_viramadeva_madeva</string>
    <string>hadeva_viramadeva_nadeva</string>
    <string>hadeva_viramadeva_nnadeva</string>
    <string>hadeva_viramadeva_radeva</string>
    <string>hadeva_viramadeva_vadeva</string>
    <string>hadeva_viramadeva_yadeva</string>
    <string>kadeva_viramadeva_kadeva</string>
    <string>kadeva_viramadeva_ladeva</string>
    <string>kadeva_viramadeva_radeva</string>
    <string>kadeva_viramadeva_radeva.np</string>
    <string>kadeva_viramadeva_tadeva</string>
    <string>kadeva_viramadeva_vadeva</string>
    <string>khadeva_viramadeva_radeva</string>
    <string>ladeva_viramadeva_ladeva</string>
    <string>nga_virama_ka_virama_ssadeva</string>
    <string>ngadeva_viramadeva_gadeva</string>
    <string>ngadeva_viramadeva_ghadeva</string>
    <string>ngadeva_viramadeva_kadeva</string>
    <string>ngadeva_viramadeva_khadeva</string>
    <string>ngadeva_viramadeva_madeva</string>
    <string>padeva_viramadeva_ladeva</string>
    <string>phadeva_radeva_nuktadeva</string>
    <string>phadeva_viramadeva_radeva</string>
    <string>phadeva_viramadeva_ladeva</string>
    <string>pushpikadeva</string>
    <string>shadeva_viramadeva_ladeva</string>
    <string>ssadeva_viramadeva_ttadeva</string>
    <string>ssadeva_viramadeva_tthadeva</string>
    <string>ttadeva_viramadeva_ttadeva</string>
    <string>ttadeva_viramadeva_tthadeva</string>
    <string>ttadeva_viramadeva_vadeva</string>
    <string>ttadeva_viramadeva_yadeva</string>
    <string>tthadeva_viraamdeva_tthadeva</string>
    <string>da_ddha_ra_yadeva</string>
    <string>gapfillerdeva</string>
  </array>
  <key>class4</key>
  <array>
    <string>llvocalicsigndeva</string>
    <string>lvocalicsigndeva</string>
    <string>usigndeva</string>
    <string>uusigndeva</string>
    <string>viramadeva</string>
    <string>rrvocalicsigndeva</string>
    <string>rvocalicsigndeva</string>
    <string>vattudeva_ulowdeva</string>
    <string>vattudeva_uulowdeva</string>
    <string>viramadeva_radeva</string>
  </array>
  <key>class8</key>
  <array>
    <string>iisigndeva</string>
    <string>isigndeva</string>
    <string>isigndeva.alt2</string>
    <string>iisign_ra_virama_anusvara</string>
    <string>iisigndeva_ra_virama</string>
    <string>iisigndeva_anusvaradeva</string>
    <string>isigndeva_anusvara.alt2</string>
    <string>isign_ra_virama.alt2</string>
    <string>isign_ra_virama_anusvara.alt2</string>
  </array>
  <key>class9</key>
  <array>
    <string>isigndeva.alt1</string>
    <string>isigndeva_anusvara.alt1</string>
    <string>isign_ra_virama.alt1</string>
    <string>isign_ra_virama_anusvara.alt1</string>
    <string>isigndeva.ja</string>
    <string>iisigndeva.alt1</string>
    <string>iisign_ra_virama_anusvara.alt1</string>
    <string>iisigndeva_ra_virama.alt1</string>
  </array>
  <key>pres1</key>
  <array>
    <string>gadeva_viramadeva</string>
    <string>ghhadeva_viramadeva</string>
    <string>khadeva</string>
    <string>khhadeva</string>
    <string>ladeva</string>
    <string>sadeva_viramadeva_radeva</string>
    <string>hadeva_viramadeva_yadeva</string>
    <string>jadeva_viramadeva_jadeva</string>
    <string>khadeva_viramadeva_radeva</string>
    <string>ladeva_viramadeva_radeva</string>
    <string>sa_virama_ta_virama_radeva</string>
    <string>tadeva_viramadeva_tadeva</string>
  </array>
  <key>pres2</key>
  <array>
    <string>bhadeva</string>
    <string>chadeva</string>
    <string>lladeva</string>
    <string>llladeva</string>
    <string>nnadeva</string>
    <string>shadeva</string>
    <string>thadeva</string>
    <string>thadeva_viramadeva_radeva</string>
    <string>bhadeva_viramadeva_radeva</string>
    <string>ja_virama_nya_virama_radeva</string>
    <string>jadeva_viramadeva_nyadeva</string>
    <string>shadeva.mr</string>
    <string>shadeva_viramadeva_radeva</string>
  </array>
  <key>pres3</key>
  <array>
    <string>jadeva</string>
    <string>jhadeva</string>
    <string>nyadeva</string>
    <string>sadeva</string>
    <string>dadeva_viramadeva_madeva</string>
    <string>dadeva_viramadeva_yadeva</string>
    <string>hadeva_viramadeva_madeva</string>
    <string>jadeva_viramadeva_radeva</string>
    <string>jhadeva_viramadeva_radeva</string>
    <string>ladeva.mr</string>
    <string>ladeva_viramadeva_ladeva</string>
    <string>nyadeva_viramadeva_cadeva</string>
    <string>nyadeva_viramadeva_jadeva</string>
  </array>
  <key>pres4</key>
  <array>
    <string>cadeva</string>
    <string>chadeva_viramadeva_vadeva</string>
    <string>ddadeva</string>
    <string>dhadeva</string>
    <string>dhadeva_viramadeva_radeva</string>
    <string>ghadeva</string>
    <string>ghadeva_viramadeva_radeva</string>
    <string>nadeva_viramadeva_nadeva</string>
    <string>ngadeva</string>
    <string>ssadeva_viramadeva_radeva</string>
    <string>tadeva</string>
    <string>yadeva</string>
    <string>cadeva_viramadeva_radeva</string>
    <string>cadeva_viramadeva_cadeva</string>
    <string>dadeva_viramadeva_dhadeva</string>
    <string>dadeva_viramadeva_ghadeva</string>
    <string>ddadeva_viramadeva_ddadeva</string>
    <string>ddadeva_viramadeva_ddhadeva</string>
    <string>ka_virama_ssa_virama_radeva</string>
    <string>kadeva_viramadeva_ssadeva</string>
    <string>nadeva_viramadeva_radeva</string>
    <string>nga_virama_ka_virama_ssadeva</string>
    <string>ngadeva_viramadeva_gadeva</string>
    <string>ngadeva_viramadeva_ghadeva</string>
    <string>ngadeva_viramadeva_kadeva</string>
    <string>ngadeva_viramadeva_khadeva</string>
    <string>ngadeva_viramadeva_madeva</string>
    <string>shadeva_viramadeva_cadeva</string>
    <string>shadeva_viramadeva_ladeva</string>
    <string>shadeva_viramadeva_nadeva</string>
    <string>shadeva_viramadeva_vadeva</string>
  </array>
  <key>pres5</key>
  <array>
    <string>bhadeva_viramadeva</string>
    <string>cadeva_viramadeva</string>
    <string>chadeva_viramadeva</string>
    <string>dhadeva_viramadeva</string>
    <string>fadeva_viramadeva</string>
    <string>ghadeva_viramadeva</string>
    <string>jadeva_viramadeva</string>
    <string>jhadeva_viramadeva</string>
    <string>kadeva_viramadeva</string>
    <string>khadeva_viramadeva</string>
    <string>khhadeva_viramadeva</string>
    <string>lladeva_viramadeva</string>
    <string>llladeva_viramadeva</string>
    <string>madeva_viramadeva</string>
    <string>nadeva_viramadeva</string>
    <string>nnadeva_viramadeva</string>
    <string>nnnadeva_viramadeva</string>
    <string>nyadeva_viramadeva</string>
    <string>padeva_viramadeva</string>
    <string>phadeva_viramadeva</string>
    <string>qadeva_viramadeva</string>
    <string>sadeva_viramadeva</string>
    <string>shadeva_viramadeva</string>
    <string>ssadeva_viramadeva</string>
    <string>ta_virama_ta_viramadeva</string>
    <string>tadeva_viramadeva</string>
    <string>thadeva_viramadeva</string>
    <string>yadeva_viramadeva</string>
    <string>zadeva_viramadeva</string>
    <string>ladeva_viramadeva</string>
    <string>badeva_viramadeva</string>
    <string>dadeva_viramadeva</string>
    <string>ddadeva_viramadeva</string>
    <string>ddadeva_viramadeva_yadeva</string>
    <string>yadeva_alt</string>
    <string>ddhadeva_viramadeva</string>
    <string>ddhadeva_viramadeva_yadeva</string>
    <string>ja_virama_nya_viramadeva</string>
    <string>ka_virama_ssa_viramadeva</string>
    <string>ngadeva_viramadeva</string>
    <string>shadeva_viramadeva_alt</string>
    <string>shadeva_viramadeva.mr</string>
    <string>ta_virama_ra_viramadeva</string>
    <string>ttadeva_viramadeva</string>
    <string>ttadeva_viramadeva_yadeva</string>
    <string>tthadeva_viraamdeva_yadeva</string>
    <string>tthadeva_viramadeva</string>
    <string>vadeva_viramadeva</string>
    <string>da_ddha_ra_yadeva</string>
  </array>
  <key>psts1</key>
  <array>
    <string>fadeva</string>
    <string>phadeva</string>
    <string>kadeva</string>
    <string>qadeva</string>
    <string>rrvocalicdeva</string>
    <string>rvocalicdeva</string>
    <string>kadeva_viramadeva_kadeva</string>
    <string>kadeva_viramadeva_ladeva</string>
    <string>kadeva_viramadeva_tadeva</string>
    <string>kadeva_viramadeva_vadeva</string>
    <string>phadeva_radeva_nuktadeva</string>
    <string>phadeva_viramadeva_radeva</string>
    <string>phadeva_viramadeva_ladeva</string>
  </array>
</dict>
</plist>
